@import "variables";
section{
    margin: 0;
    padding: 90px 0 0;
    @include respond(standardphone) {
        padding: 55px 0 0;
    }
}
p{
    font-weight: 400;
    font-size: 18px;
}
.img-fluid{width:100%;}
// .px-ph-0-5{
//     @include respond(standardphone) {
//         padding-left: 0.5rem;
//         padding-right: 0.5rem;
//     }
// }
.section-heading {
    font-size: scaleValue(25px, 50px);
    line-height: scaleValue(30px, 63px);
    @include respond(standardphone){
        margin-bottom: 25px !important;
        padding-bottom: 0;
    }
}
.primary-bg{
    @include respond(standardphone){
        border-radius: 0;
    }
}
.bg-effect{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    &.about-bg-effect{
        background-image: url(./images/about-bg.png);
    }
    &.contact-bg-effect{
        background-image: url(./images/contact-bg.png);
    }
}
.inner-banner{
    @include bg-blur;
    h1{
        font-weight: 700;
        font-size: scaleValue(20px, 74px);
        line-height: 123.52%;
        @include respond(standardphone) {
            margin-bottom: 40px !important;
            line-height: 130.52%;
        }
    }
    h2{
        font-weight: 600;
        font-size: 26px;
        font-size: scaleValue(20px, 26px);
        line-height: 167.02%;
        margin-bottom: 21px;
        position: relative;
        display: inline-block;

        &:after {
            content: "";
            display: inline-block;
            width: 44px;
            height: 2px;
            margin-left: 14px;
            background: linear-gradient(90.07deg, #B3F1FF 16.05%, #E1FFBB 84.11%);
            transition: all 0.3s;
        }
    }
    p{
        line-height: 180.02%;
        font-size: scaleValue(17px, 20px);
        @include respond(standardphone){
            line-height: 178.02%;
        }
    }
    .main-header-cta-upwork-banner{
        p{
            font-weight: 500;
            font-size: 15px;
            line-height: 1.5;
        }
    }
    .toprated{
        width: 10%;
    }
    .heading-icon{
        width: scaleValue(20px, 74px);
    }
    &.about-banner{
        p{
            margin-top: 80px;
            @include respond(large-desktop) {
                padding: 0 4rem;
            }
            @include respond(standardphone) {
                margin-top: 40px;
            }
        }
    }
}
.single-project{
    @include bg-blur;
    img{
        margin-bottom: 50px;
    }
    p{
        line-height: 181.52%;
        margin-bottom: 2.35rem;
        @include respond(phone){
            margin-bottom: 25px;
        }
    }
    h2{
        font-weight: 600;
        font-size: scaleValue(20px, 40px);
        line-height: 51px;
    }
    h3{
        font-weight: 600;
        font-size: scaleValue(18px, 24px);
        line-height: 30px;
    }
    @include respond(md-phone){
        padding-top: 60px;
        .text-gradient-button {
            background: linear-gradient(90.07deg, #B3F1FF 16.05%, #E1FFBB 84.11%);
            -webkit-background-clip: border-box;
            -webkit-text-fill-color: #010A1C;
            padding: 11px 30px;
            box-shadow: 0px 2px 14px rgba(218, 253, 198, 0.31);
            border-radius: 52px;
            font-size: 16px;
            line-height: 20px;
            color: #010A1C;
            text-align: center;
            display: block;
            &:after{
                display: none;
            }
        }
        .text-disabled{
            background: #2A3546;
            -webkit-text-fill-color: #747D8C;
            color: #747D8C;
            box-shadow: none;
        }
    }
}
.lets-talk{
    background: $gradient-secondary;
    border-radius: 20px;
    padding: 37px 48px;
    position: relative;
    z-index: 1;
    @include respond(standardphone){
        padding: 30px;
    }
    &:after{
        content:"";
        background:  url(./images/lets-talk-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }
    h2{
        font-weight: 700;
        font-size: 42px;
        font-size: scaleValue(16px, 42px);
        line-height: 122.3%;
        color: #010A1C;
        @include respond(tab-land){
            br{
                display: none;
            }
        }
        @include respond(standardphone){
            margin-bottom: 20px;
        }
    }
    .btn-dark{
        padding: 22px 30px;
        font-weight: 600;
        font-size: scaleValue(12px, 20px);
        line-height: 25px;
        @include respond(mid-desktop){
            padding: 18px 28px;
        }
        @include respond(standardphone){
            padding: 12px 30px;
        }
    }
}
.main-services{
    &__bg {
        top: 0;
        z-index: -1;
    }
}
.about-details{
    padding-top: 46px;
    .row{
        @include respond(standardphone){
            align-items: flex-start !important;
        }
        .col-md-3{
            .card{
                @include respond(standardphone){
                    padding: 0px 13px;
                    margin-bottom: 1rem;
                    .card-body{
                        padding: 0 !important;
                        img{
                            width: 40px;
                        }
                        h3{
                            font-size: scaleValue(18px, 20.8px);
                        }
                        p{
                            font-size: scaleValue(9px, 18px);
                        }
                    }
                }
                @include respond(phone){
                    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.1116) 0%, rgba(255, 255, 255, 0) 100%);
                    box-shadow: inset -3.07425px -3.07425px 153.713px rgba(255, 255, 255, 0.02);
                    backdrop-filter: blur(12.9119px);   
                    border-radius: 11.0673px;
                    padding: 26px 13px;
                }
            }
        }
        .col-md-3:not(:last-child){
            .card{
                border-right: 1px solid rgba(255,255,255,0.14);
                @include respond(phone){
                    border-right: 0;
                }
            }
        }
    }
}
.our-mission{
    z-index: 3;
    p{
        line-height: 167.02%;
        font-size: scaleValue(15px, 18px);
        @include respond(standardphone){
            text-align: center;
        }
    }
    .sub-heading{
        font-weight: 500;
        font-size: scaleValue(17px, 22px);
        line-height: 160.02%;
        color: #C3CDE0;
    }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     z-index: -1;
    //     width: 100%;
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     left: 0;
    //     top: 0;
    //     height: 100%;
    //     background: url(./images/BG-Blur/web/we_work_with_bg_blur.png);
    // }
}
.team {
    .card {
        margin-bottom: 32px;
        @include respond(standardphone){
            margin-bottom: .75rem;
        }
        h3{
            font-weight: 600;
            font-size: scaleValue(10px, 19px);
            @include respond(standardphone){
                margin-bottom: .25rem;
            }
        }
        P{
            line-height: 130.3%;
            color: #747D8C;
            font-size: scaleValue(8px, 16px);
        }
    }
}
.contact-form{
    .row1{
        border-top: 1px solid rgba(255, 255, 255, 0.14);
        border-bottom: 1px solid rgba(255, 255, 255, 0.14);
        padding: 80px 0;
    }
    form{
        .form-label{
            font-weight: 500;
            font-size: 16px;
            line-height: 137.3%;
            color: #747D8C;
        }
        .form-control{
            background: #081222;
            border: 1px solid #222A38;
            border-radius: 7px;
            padding: 12px 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 137.3%;
            color: #fff;
            &::placeholder{
                color: #404A5C;
            }
            &:focus{
                outline: 0;
                box-shadow: none;
                border-color: #0244BA;
            }
        }
        .form-check{
            margin-right: 12px;
            padding-left: 0;
            position: relative;
            @include respond(phone){
                width: 100%;
                display: block;
                margin-bottom: 12px;
            }
            .form-check-label{
                background-color: #081222;
                border: 1px solid #222A38;
                border-radius: 7px;
                color: #909AAD;
                font-weight: 500;
                font-size: 16px;
                line-height: 137.3%;
                margin-right: 0.35rem;
                padding: 12px 48px 12px 13px;
                cursor: pointer;
                @include respond(phone){
                    width: 100%;
                }
            }
            .form-check-input{
                float: right;
                background-color: #081222;
                border: 1px solid #2A3546;
                border-radius: 4px;
                width: 22px;
                height: 22px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 20px;
                margin: auto;
                &:checked[type=checkbox] {
                    background-image: url(images/form-check.png);
                    border-color: transparent;
                }
                &:focus{
                    box-shadow: none;
                    outline: 0;
                }
            }
            &:focus-within{
                .form-check-label{
                    border-color: #0244BA;
                    color: #fff;
                }
            }
            &:has(input:checked){
                .form-check-label{
                    color: #fff;
                    border-color: #0244BA;
                }
            }
        }
    }
}
.contact-details{
    h3{
        font-weight: 600;
        font-size: scaleValue(16px, 22px);
        line-height: 137.3%;
        color: #FFFFFF;
        @include respond(phone){
            margin-bottom: 0.25rem;
        }
    }
    p{
        font-weight: 500;
        line-height: 137.3%;
        color: #747D8C;
        font-size: scaleValue(15px, 18px);
    }
}
.services-info{
    .section-heading{
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        font-family: 'Kalam', cursive;
        animation: bounce 1s infinite;
        img{
            width: 20px;
        }
    }
    .card{
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.1116) 0%, rgba(255, 255, 255, 0) 100%);
        box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(21px);
        border-radius: 18px;
        img{
            @include respond(phone){width: 40px;}
        }
        h3{
            font-size: scaleValue(18px, 20.8px);
        }
        p{
            font-size: scaleValue(9px, 18px);
        }
    }
}
@keyframes bounce {
    0%,to {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}
.single-services{
    .number{
        span{
            padding: 5px 19px;
            border: 1px solid #404A5C;
            border-radius: 72px;
            font-weight: 600;
            font-size: 18px;
            line-height: 167.02%;
        }
    }
    .service-icon{
        @include respond(md-phone){
            width: 55px;
        }
    }
    h3{
        font-weight: 600;
        font-size: 34px;
        line-height: 43px;
        font-size: scaleValue(22px, 34px);
    }
    p{
        font-size: scaleValue(15px, 18px);
        line-height: 167.02%;
    }
    li{
        font-weight: 500;
        font-size: scaleValue(14px, 16px);
        line-height: 167.02%;
        color: #C3CDE0;
        &:not(:last-child){
            margin-bottom: .75rem;
        }
    }
    .process{
        h4{
            font-weight: 600;
            font-size: 40px;
            line-height: scaleValue(38.86px, 51px);
            font-size: scaleValue(28px, 40px);
        }
        ul{
            padding-bottom: 80px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.14);
            @include respond(phone){
                padding-bottom: 45px;
            }
            li{
                width: 16%;
                position: relative;
                @include respond(phone){
                    width: 100%;
                    display: flex;
                    text-align: left !important;
                    margin-right: 0 !important;
                    align-items: center;
                    &:not(:last-child){
                        margin-bottom: 2rem !important;
                    }
                }
                img{
                    @include respond(phone){
                        width: 40px;
                        background-color: #010B1C;
                    }
                }
                p{
                    font-weight: 500;
                    font-size: scaleValue(15px, 20px);
                    line-height: 167.02%;
                    color: #C3CDE0;
                    margin-top: 30px;
                    @include respond(phone){
                        margin-top: 0px;
                        br{
                            display: none;
                        }
                        padding-left: 10px;
                    }
                }
                &:not(:last-child):after{
                    content: url(./images/services/process-after.svg);
                    position: absolute;
                    top: 18px;
                    right: -2.35rem;
                    @include respond(phone){
                        top: auto;
                        right: auto;
                        bottom: -1.275rem;
                        left: -11px;
                        transform: rotate(90deg);
                        z-index: -1;
                    }
                }
            }
        }
    }
}
.main-reasons-chose{
    .card{
        h4{
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 13px;
        }
        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 162.52%;
        }
    }
}
.faq{
    .accordion-item{
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.1116) 0%, rgba(255, 255, 255, 0) 100%);
        box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
        -webkit-backdrop-filter: blur(21px);
        backdrop-filter: blur(21px);
        border-radius: 10px !important;
        margin-bottom: 22px;
        border: 0;
        overflow: hidden;
        .accordion-button{
            background-color: transparent;
            background: linear-gradient(169.15deg, rgba(255, 255, 255, 0.12) 0%, rgba(238, 237, 237, 0.0288) 96.79%);
            border: 0;
            padding: 24px 27px;
            font-weight: 500;
            font-size: scaleValue(15px, 18px);
            line-height: 28px;
            color: #C3CDE0;
            &:focus{
                box-shadow: none;
            }
            &:after{
                background-image: url(./images/plus.svg);
                @include respond(phone){
                    width: 1rem;
                    height: 1rem;
                    background-size: cover;
                }
            }
            &:not(.collapsed)::after{
                background-image: url(./images/minus.svg);
                height: 8px;
                @include respond(phone){
                    width: 1rem;
                    height: 4px;
                    background-size: cover;
                }
            }
        }
        .accordion-body{
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #909AAD;
            padding: 18px 27px;
        }
    }
}
.inner-project-banner{
    z-index: 1;
    &.jade-banner{
        .gradient-bg{
            background: linear-gradient(116.81deg, #C9FFC1 17.55%, #26ED82 53.09%, #009A90 85.44%, #056A9C 99.91%);
        }
    }
    &.tribly-banner{
        .gradient-bg{
            background: linear-gradient(119.56deg, #B1A4FF 16.69%, #0F46FF 95.06%);
        }
    }
    &.nftreasure-banner{
        .gradient-bg{
            background: linear-gradient(119.68deg, #40BAFF 4.5%, #687FFF 37.55%, #A953FF 68.62%, #FB25FF 99.2%);
        }
    }
    .gradient-bg{
        position: absolute;
        top: 0;
        width: 100%;
        height: 77%;
        z-index: -2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        img{
            width: 98%;
        }
    }
    .logo-img{
        margin: 2.5rem 0;
        @include respond(tab-port) {
            width: 37%;
        }
        @include respond(standardphone) {
            width: 30%;
        }
        @include respond(phone) {
            width: 45%;
        }
    }
    .screen-img{
        width: 98%;
        @include respond(tab-land) {
            width: 90%;
        }
        @include respond(standardphone) {
            width: 95%;
        }
    }
}
.services-details{
    .row{
        margin-bottom: 50px;
        @include respond(phone){
            margin-bottom: 30px;
        }
        h2{
            font-weight: 600;
            font-size: scaleValue(18px, 40px);
            line-height: 51px;
        }
        p{
            line-height: 175.52%;
            color: #C3CDE0;
        }
        ol{
            li{
                width: 50%;
                color: #C3CDE0;
                font-weight: 400;
                font-size: scaleValue(15px, 18px);
                line-height: 175.52%;
                &::marker{
                    color: #0244BA;
                    font-weight: 600;
                }
                @include respond(phone){
                    width: 100%;
                }
            }
        }
    }
}
.screenshot-bg{
    border-radius: 30px;
    padding: 90px 0 100px;
    @include respond(phone){
        border-radius: 0;
    }
    &.jade-bg-gradient{
        background: linear-gradient(116.81deg, #C9FFC1 17.55%, #26ED82 53.09%, #009A90 85.44%, #056A9C 99.91%);
        .section-heading{
            color: #010B1C;
        }
    }
    &.tribly-bg-gradient{
        background: linear-gradient(119.56deg, #B1A4FF 16.69%, #0F46FF 95.06%);
    }
    &.nftreasure-bg-gradient{
        background: linear-gradient(119.68deg, #40BAFF 4.5%, #687FFF 37.55%, #A953FF 68.62%, #FB25FF 99.2%);
    }
    ul{
        li{
            margin-bottom: 1.5rem;
            &:nth-child(odd){
                margin-right: .75rem;
            }
            &:nth-child(even){
                margin-left: .75rem;
            }
            @include respond(md-phone){
                &:nth-child(odd){
                    margin-right: 0.5rem;
                }
                &:nth-child(even){
                    margin-left: 0.5rem;
                }
            }
        }
    }
    &.nftreasure-bg-gradient{
        @include respond(md-phone){
            width: 100%;
            &:nth-child(odd){
                margin-right: 0rem;
            }
            &:nth-child(even){
                margin-left: 0rem;
            }
        }
    }
    &.other-web{
        ul{
            li{
                margin: 0 0 .75rem;
                padding: 0 0.375rem;
                width: 33.333%;
                @include respond(md-phone){
                    width: 100%;
                }
            }
        }
    }
    &.other-mobile{
        ul{
            li{
                margin: 0 0 .75rem;
                padding: 0 0.375rem;
                width: 20%;
                @include respond(standardphone){
                    width: 30.333%;
                }
                @include respond(md-phone){
                    width: 50%;
                }
            }
        }
    }
}
.clients-feedback{
    .card{
        .card-body{
            &::before{
                content: "";
                position: absolute;
                top: 1.5rem;
                left: 0;
                opacity: 0.1;
                background-image: url(./images/quote-1.png);
                width: scaleValue(25px, 96px);
                height: scaleValue(28px, 99px);
                background-size: cover;
            }
            &::after{
                content: "";
                position: absolute;
                bottom: 1.5rem;
                right: 0;
                opacity: 0.1;
                background-image: url(./images/quote-1.png);
                width: scaleValue(25px, 96px);
                height: scaleValue(28px, 99px);
                background-size: cover;
            }
            .client-img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            h2{
                font-weight: 600;
                font-size: scaleValue(20px, 40px);
                line-height: scaleValue(30px, 51px);
            }
            .client-text{
                font-size: scaleValue(18px, 22px);
                line-height: 167.02%;
                max-width: 858px;
                margin-bottom: 2rem;
            }
            .name{
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                color: #C3CDE0;
            }
            .des{
                font-size: 15px;
                line-height: 19px;
                color: #747D8C;
            }
        }
    }
}
.others-project{
    @include respond(phone){
        text-align: center;
    }
    img{
        margin-bottom: 2rem;
    }
    h3{
        font-weight: 600;
        font-size: scaleValue(22px, 30px);
        line-height: scaleValue(25px, 38px);
        @include respond(phone){
            text-align: center;
        }
    }
}
footer {
    .nav-icons{
        a{
            font-size: scaleValue(16px, 18px);
        }
    }
    .social-icons{
        a{
            font-size: scaleValue(16px, 24px);
            .icon-box{
                svg{
                    width: scaleValue(24px, 32px);
                    height: scaleValue(24px, 32px);
                }
            }
        }
    }
}