/*

0 - 350px;         Small Phone
350 - 600px;       Phone
600 - 900px;       Table potrait
900 - 1200px;      Table landscape
1200 - 1800px ( is where the normal style is applies )
1200 - 1800+ px;   Big desktop

$breakpoint arguement choices :

- sm-phone
- phone
- tab-port
- tab-land
- big-desktop

 ORDER: Base + Typography > genarel layout + grid > page layout > components

*/
/* ============================================ */
/* ================ Global Variables  ================ */
/* ============================================ */
/* ============================================ */
/* ================ Global Styles  ================ */
/* ============================================ */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* ============================================ */
/* ================ body customization ================ */
/* ============================================ */
body {
  box-sizing: border-box;
  background: url("./images/bg_web.jpg"), #010B1C;
  background-position: center;
  background-repeat: repeat;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  body {
    background: url("/images/bg_mobile.jpg"), #010B1C;
  }
}
body a {
  text-decoration: none;
  color: unset;
}
body button,
body button:focus {
  outline: none;
}

html,
body {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 16px;
}

section {
  margin: 90px 0;
}

.text-gradient {
  background: linear-gradient(90.07deg, #B3F1FF 16.05%, #E1FFBB 84.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .section-heading {
    font-size: 42px;
    padding-bottom: 40px;
  }
}

.text-basic {
  color: #747D8C;
}

.text-basic-light {
  color: #C3CDE0;
}

.text-light {
  color: #909AAD !important;
}

.primary-bg {
  background: rgba(1, 7, 18, 0.59);
  -webkit-backdrop-filter: blur(16.5px);
          backdrop-filter: blur(16.5px);
  border-radius: 30px;
}

a {
  font-weight: 500;
}

.btn {
  background: linear-gradient(93.67deg, #357DFF 2.43%, #0244BA 100%);
  border-radius: 52px;
  color: #ffffff;
  color: #ffffff !important;
  box-shadow: 0px 2px 14px rgba(79, 137, 243, 0.41);
  padding: 0.75rem 1.5rem;
  border: 0px;
}
.btn.btn-dark {
  background: #010A1C;
  box-shadow: none;
}
@media only screen and (max-width: 768px) {
  .btn {
    display: block;
    width: 100%;
  }
}

.text-gradient-button {
  background: linear-gradient(90.07deg, #B3F1FF 16.05%, #E1FFBB 84.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  position: relative;
}
.text-gradient-button:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90.07deg, #B3F1FF 16.05%, #E1FFBB 84.11%);
  transition: all 0.3s;
}
.text-gradient-button:hover::after {
  width: 10px;
}

.text-disabled {
  background: #404A5C;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  position: relative;
}
.text-disabled:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #404A5C;
  transition: all 0.3s;
}
.text-disabled:hover::after {
  width: 10px;
}

@keyframes float_1 {
  0% {
    transform: translateY(10px) rotate3d(-15.78deg);
  }
  100% {
    transform: translateY(-10px) rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes float_2 {
  0% {
    transform: translateY(10px) rotate3d(24.79deg);
  }
  100% {
    transform: translateY(-10px) rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes float_3 {
  0% {
    transform: translateY(10px) rotate3d(-9.68deg);
  }
  100% {
    transform: translateY(-10px) rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes float_4 {
  0% {
    transform: translateY(10px) rotate3d(9.68deg);
  }
  100% {
    transform: translateY(-10px) rotate3d(0, 0, 0, 0deg);
  }
}
section {
  margin: 0;
  padding: 90px 0 0;
}
@media only screen and (max-width: 768px) {
  section {
    padding: 55px 0 0;
  }
}

p {
  font-weight: 400;
  font-size: 18px;
}

.img-fluid {
  width: 100%;
}

.section-heading {
  font-size: clamp(25px, 25px + 2.2321428571vw, 50px);
  line-height: clamp(30px, 30px + 2.9464285714vw, 63px);
}
@media only screen and (max-width: 768px) {
  .section-heading {
    margin-bottom: 25px !important;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .primary-bg {
    border-radius: 0;
  }
}

.bg-effect {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.bg-effect.about-bg-effect {
  background-image: url(./images/about-bg.png);
}
.bg-effect.contact-bg-effect {
  background-image: url(./images/contact-bg.png);
}

.inner-banner {
  position: relative;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  .inner-banner {
    z-index: 99;
  }
}
.inner-banner h1 {
  font-weight: 700;
  font-size: clamp(20px, 20px + 4.8214285714vw, 74px);
  line-height: 123.52%;
}
@media only screen and (max-width: 768px) {
  .inner-banner h1 {
    margin-bottom: 40px !important;
    line-height: 130.52%;
  }
}
.inner-banner h2 {
  font-weight: 600;
  font-size: 26px;
  font-size: clamp(20px, 20px + 0.5357142857vw, 26px);
  line-height: 167.02%;
  margin-bottom: 21px;
  position: relative;
  display: inline-block;
}
.inner-banner h2:after {
  content: "";
  display: inline-block;
  width: 44px;
  height: 2px;
  margin-left: 14px;
  background: linear-gradient(90.07deg, #B3F1FF 16.05%, #E1FFBB 84.11%);
  transition: all 0.3s;
}
.inner-banner p {
  line-height: 180.02%;
  font-size: clamp(17px, 17px + 0.2678571429vw, 20px);
}
@media only screen and (max-width: 768px) {
  .inner-banner p {
    line-height: 178.02%;
  }
}
.inner-banner .main-header-cta-upwork-banner p {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
}
.inner-banner .toprated {
  width: 10%;
}
.inner-banner .heading-icon {
  width: clamp(20px, 20px + 4.8214285714vw, 74px);
}
.inner-banner.about-banner p {
  margin-top: 80px;
}
@media only screen and (min-width: 1600px) {
  .inner-banner.about-banner p {
    padding: 0 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .inner-banner.about-banner p {
    margin-top: 40px;
  }
}

.single-project {
  position: relative;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  .single-project {
    z-index: 99;
  }
}
.single-project img {
  margin-bottom: 50px;
}
.single-project p {
  line-height: 181.52%;
  margin-bottom: 2.35rem;
}
@media only screen and (max-width: 600px) {
  .single-project p {
    margin-bottom: 25px;
  }
}
.single-project h2 {
  font-weight: 600;
  font-size: clamp(20px, 20px + 1.7857142857vw, 40px);
  line-height: 51px;
}
.single-project h3 {
  font-weight: 600;
  font-size: clamp(18px, 18px + 0.5357142857vw, 24px);
  line-height: 30px;
}
@media only screen and (max-width: 575px) {
  .single-project {
    padding-top: 60px;
  }
  .single-project .text-gradient-button {
    background: linear-gradient(90.07deg, #B3F1FF 16.05%, #E1FFBB 84.11%);
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #010A1C;
    padding: 11px 30px;
    box-shadow: 0px 2px 14px rgba(218, 253, 198, 0.31);
    border-radius: 52px;
    font-size: 16px;
    line-height: 20px;
    color: #010A1C;
    text-align: center;
    display: block;
  }
  .single-project .text-gradient-button:after {
    display: none;
  }
  .single-project .text-disabled {
    background: #2A3546;
    -webkit-text-fill-color: #747D8C;
    color: #747D8C;
    box-shadow: none;
  }
}

.lets-talk {
  background: linear-gradient(90.07deg, #B3F1FF 16.05%, #E1FFBB 84.11%);
  border-radius: 20px;
  padding: 37px 48px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .lets-talk {
    padding: 30px;
  }
}
.lets-talk:after {
  content: "";
  background: url(./images/lets-talk-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.lets-talk h2 {
  font-weight: 700;
  font-size: 42px;
  font-size: clamp(16px, 16px + 2.3214285714vw, 42px);
  line-height: 122.3%;
  color: #010A1C;
}
@media only screen and (max-width: 1200px) {
  .lets-talk h2 br {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .lets-talk h2 {
    margin-bottom: 20px;
  }
}
.lets-talk .btn-dark {
  padding: 22px 30px;
  font-weight: 600;
  font-size: clamp(12px, 12px + 0.7142857143vw, 20px);
  line-height: 25px;
}
@media only screen and (max-width: 1399px) {
  .lets-talk .btn-dark {
    padding: 18px 28px;
  }
}
@media only screen and (max-width: 768px) {
  .lets-talk .btn-dark {
    padding: 12px 30px;
  }
}

.main-services__bg {
  top: 0;
  z-index: -1;
}

.about-details {
  padding-top: 46px;
}
@media only screen and (max-width: 768px) {
  .about-details .row {
    align-items: flex-start !important;
  }
}
@media only screen and (max-width: 768px) {
  .about-details .row .col-md-3 .card {
    padding: 0px 13px;
    margin-bottom: 1rem;
  }
  .about-details .row .col-md-3 .card .card-body {
    padding: 0 !important;
  }
  .about-details .row .col-md-3 .card .card-body img {
    width: 40px;
  }
  .about-details .row .col-md-3 .card .card-body h3 {
    font-size: clamp(18px, 18px + 0.25vw, 20.8px);
  }
  .about-details .row .col-md-3 .card .card-body p {
    font-size: clamp(9px, 9px + 0.8035714286vw, 18px);
  }
}
@media only screen and (max-width: 600px) {
  .about-details .row .col-md-3 .card {
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.1116) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3.07425px -3.07425px 153.713px rgba(255, 255, 255, 0.02);
    -webkit-backdrop-filter: blur(12.9119px);
            backdrop-filter: blur(12.9119px);
    border-radius: 11.0673px;
    padding: 26px 13px;
  }
}
.about-details .row .col-md-3:not(:last-child) .card {
  border-right: 1px solid rgba(255, 255, 255, 0.14);
}
@media only screen and (max-width: 600px) {
  .about-details .row .col-md-3:not(:last-child) .card {
    border-right: 0;
  }
}

.our-mission {
  z-index: 3;
}
.our-mission p {
  line-height: 167.02%;
  font-size: clamp(15px, 15px + 0.2678571429vw, 18px);
}
@media only screen and (max-width: 768px) {
  .our-mission p {
    text-align: center;
  }
}
.our-mission .sub-heading {
  font-weight: 500;
  font-size: clamp(17px, 17px + 0.4464285714vw, 22px);
  line-height: 160.02%;
  color: #C3CDE0;
}

.team .card {
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .team .card {
    margin-bottom: 0.75rem;
  }
}
.team .card h3 {
  font-weight: 600;
  font-size: clamp(10px, 10px + 0.8035714286vw, 19px);
}
@media only screen and (max-width: 768px) {
  .team .card h3 {
    margin-bottom: 0.25rem;
  }
}
.team .card P {
  line-height: 130.3%;
  color: #747D8C;
  font-size: clamp(8px, 8px + 0.7142857143vw, 16px);
}

.contact-form .row1 {
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  padding: 80px 0;
}
.contact-form form .form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 137.3%;
  color: #747D8C;
}
.contact-form form .form-control {
  background: #081222;
  border: 1px solid #222A38;
  border-radius: 7px;
  padding: 12px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.3%;
  color: #fff;
}
.contact-form form .form-control::-moz-placeholder {
  color: #404A5C;
}
.contact-form form .form-control::placeholder {
  color: #404A5C;
}
.contact-form form .form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #0244BA;
}
.contact-form form .form-check {
  margin-right: 12px;
  padding-left: 0;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .contact-form form .form-check {
    width: 100%;
    display: block;
    margin-bottom: 12px;
  }
}
.contact-form form .form-check .form-check-label {
  background-color: #081222;
  border: 1px solid #222A38;
  border-radius: 7px;
  color: #909AAD;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.3%;
  margin-right: 0.35rem;
  padding: 12px 48px 12px 13px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .contact-form form .form-check .form-check-label {
    width: 100%;
  }
}
.contact-form form .form-check .form-check-input {
  float: right;
  background-color: #081222;
  border: 1px solid #2A3546;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}
.contact-form form .form-check .form-check-input:checked[type=checkbox] {
  background-image: url(images/form-check.png);
  border-color: transparent;
}
.contact-form form .form-check .form-check-input:focus {
  box-shadow: none;
  outline: 0;
}
.contact-form form .form-check:focus-within .form-check-label {
  border-color: #0244BA;
  color: #fff;
}
.contact-form form .form-check:has(input:checked) .form-check-label {
  color: #fff;
  border-color: #0244BA;
}

.contact-details h3 {
  font-weight: 600;
  font-size: clamp(16px, 16px + 0.5357142857vw, 22px);
  line-height: 137.3%;
  color: #FFFFFF;
}
@media only screen and (max-width: 600px) {
  .contact-details h3 {
    margin-bottom: 0.25rem;
  }
}
.contact-details p {
  font-weight: 500;
  line-height: 137.3%;
  color: #747D8C;
  font-size: clamp(15px, 15px + 0.2678571429vw, 18px);
}

.services-info .section-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  font-family: "Kalam", cursive;
  animation: bounce 1s infinite;
}
.services-info .section-heading img {
  width: 20px;
}
.services-info .card {
  background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.1116) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
  border-radius: 18px;
}
@media only screen and (max-width: 600px) {
  .services-info .card img {
    width: 40px;
  }
}
.services-info .card h3 {
  font-size: clamp(18px, 18px + 0.25vw, 20.8px);
}
.services-info .card p {
  font-size: clamp(9px, 9px + 0.8035714286vw, 18px);
}

@keyframes bounce {
  0%, to {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.single-services .number span {
  padding: 5px 19px;
  border: 1px solid #404A5C;
  border-radius: 72px;
  font-weight: 600;
  font-size: 18px;
  line-height: 167.02%;
}
@media only screen and (max-width: 575px) {
  .single-services .service-icon {
    width: 55px;
  }
}
.single-services h3 {
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  font-size: clamp(22px, 22px + 1.0714285714vw, 34px);
}
.single-services p {
  font-size: clamp(15px, 15px + 0.2678571429vw, 18px);
  line-height: 167.02%;
}
.single-services li {
  font-weight: 500;
  font-size: clamp(14px, 14px + 0.1785714286vw, 16px);
  line-height: 167.02%;
  color: #C3CDE0;
}
.single-services li:not(:last-child) {
  margin-bottom: 0.75rem;
}
.single-services .process h4 {
  font-weight: 600;
  font-size: 40px;
  line-height: clamp(38.86px, 38.86px + 1.0839285714vw, 51px);
  font-size: clamp(28px, 28px + 1.0714285714vw, 40px);
}
.single-services .process ul {
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}
@media only screen and (max-width: 600px) {
  .single-services .process ul {
    padding-bottom: 45px;
  }
}
.single-services .process ul li {
  width: 16%;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .single-services .process ul li {
    width: 100%;
    display: flex;
    text-align: left !important;
    margin-right: 0 !important;
    align-items: center;
  }
  .single-services .process ul li:not(:last-child) {
    margin-bottom: 2rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .single-services .process ul li img {
    width: 40px;
    background-color: #010B1C;
  }
}
.single-services .process ul li p {
  font-weight: 500;
  font-size: clamp(15px, 15px + 0.4464285714vw, 20px);
  line-height: 167.02%;
  color: #C3CDE0;
  margin-top: 30px;
}
@media only screen and (max-width: 600px) {
  .single-services .process ul li p {
    margin-top: 0px;
    padding-left: 10px;
  }
  .single-services .process ul li p br {
    display: none;
  }
}
.single-services .process ul li:not(:last-child):after {
  content: url(./images/services/process-after.svg);
  position: absolute;
  top: 18px;
  right: -2.35rem;
}
@media only screen and (max-width: 600px) {
  .single-services .process ul li:not(:last-child):after {
    top: auto;
    right: auto;
    bottom: -1.275rem;
    left: -11px;
    transform: rotate(90deg);
    z-index: -1;
  }
}

.main-reasons-chose .card h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 13px;
}
.main-reasons-chose .card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 162.52%;
}

.faq .accordion-item {
  background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.1116) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(21px);
  backdrop-filter: blur(21px);
  border-radius: 10px !important;
  margin-bottom: 22px;
  border: 0;
  overflow: hidden;
}
.faq .accordion-item .accordion-button {
  background-color: transparent;
  background: linear-gradient(169.15deg, rgba(255, 255, 255, 0.12) 0%, rgba(238, 237, 237, 0.0288) 96.79%);
  border: 0;
  padding: 24px 27px;
  font-weight: 500;
  font-size: clamp(15px, 15px + 0.2678571429vw, 18px);
  line-height: 28px;
  color: #C3CDE0;
}
.faq .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.faq .accordion-item .accordion-button:after {
  background-image: url(./images/plus.svg);
}
@media only screen and (max-width: 600px) {
  .faq .accordion-item .accordion-button:after {
    width: 1rem;
    height: 1rem;
    background-size: cover;
  }
}
.faq .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url(./images/minus.svg);
  height: 8px;
}
@media only screen and (max-width: 600px) {
  .faq .accordion-item .accordion-button:not(.collapsed)::after {
    width: 1rem;
    height: 4px;
    background-size: cover;
  }
}
.faq .accordion-item .accordion-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #909AAD;
  padding: 18px 27px;
}

.inner-project-banner {
  z-index: 1;
}
.inner-project-banner.jade-banner .gradient-bg {
  background: linear-gradient(116.81deg, #C9FFC1 17.55%, #26ED82 53.09%, #009A90 85.44%, #056A9C 99.91%);
}
.inner-project-banner.tribly-banner .gradient-bg {
  background: linear-gradient(119.56deg, #B1A4FF 16.69%, #0F46FF 95.06%);
}
.inner-project-banner.nftreasure-banner .gradient-bg {
  background: linear-gradient(119.68deg, #40BAFF 4.5%, #687FFF 37.55%, #A953FF 68.62%, #FB25FF 99.2%);
}
.inner-project-banner .gradient-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 77%;
  z-index: -2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.inner-project-banner .gradient-bg img {
  width: 98%;
}
.inner-project-banner .logo-img {
  margin: 2.5rem 0;
}
@media only screen and (max-width: 900px) {
  .inner-project-banner .logo-img {
    width: 37%;
  }
}
@media only screen and (max-width: 768px) {
  .inner-project-banner .logo-img {
    width: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .inner-project-banner .logo-img {
    width: 45%;
  }
}
.inner-project-banner .screen-img {
  width: 98%;
}
@media only screen and (max-width: 1200px) {
  .inner-project-banner .screen-img {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .inner-project-banner .screen-img {
    width: 95%;
  }
}

.services-details .row {
  margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .services-details .row {
    margin-bottom: 30px;
  }
}
.services-details .row h2 {
  font-weight: 600;
  font-size: clamp(18px, 18px + 1.9642857143vw, 40px);
  line-height: 51px;
}
.services-details .row p {
  line-height: 175.52%;
  color: #C3CDE0;
}
.services-details .row ol li {
  width: 50%;
  color: #C3CDE0;
  font-weight: 400;
  font-size: clamp(15px, 15px + 0.2678571429vw, 18px);
  line-height: 175.52%;
}
.services-details .row ol li::marker {
  color: #0244BA;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .services-details .row ol li {
    width: 100%;
  }
}

.screenshot-bg {
  border-radius: 30px;
  padding: 90px 0 100px;
}
@media only screen and (max-width: 600px) {
  .screenshot-bg {
    border-radius: 0;
  }
}
.screenshot-bg.jade-bg-gradient {
  background: linear-gradient(116.81deg, #C9FFC1 17.55%, #26ED82 53.09%, #009A90 85.44%, #056A9C 99.91%);
}
.screenshot-bg.jade-bg-gradient .section-heading {
  color: #010B1C;
}
.screenshot-bg.tribly-bg-gradient {
  background: linear-gradient(119.56deg, #B1A4FF 16.69%, #0F46FF 95.06%);
}
.screenshot-bg.nftreasure-bg-gradient {
  background: linear-gradient(119.68deg, #40BAFF 4.5%, #687FFF 37.55%, #A953FF 68.62%, #FB25FF 99.2%);
}
.screenshot-bg ul li {
  margin-bottom: 1.5rem;
}
.screenshot-bg ul li:nth-child(odd) {
  margin-right: 0.75rem;
}
.screenshot-bg ul li:nth-child(even) {
  margin-left: 0.75rem;
}
@media only screen and (max-width: 575px) {
  .screenshot-bg ul li:nth-child(odd) {
    margin-right: 0.5rem;
  }
  .screenshot-bg ul li:nth-child(even) {
    margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .screenshot-bg.nftreasure-bg-gradient {
    width: 100%;
  }
  .screenshot-bg.nftreasure-bg-gradient:nth-child(odd) {
    margin-right: 0rem;
  }
  .screenshot-bg.nftreasure-bg-gradient:nth-child(even) {
    margin-left: 0rem;
  }
}
.screenshot-bg.other-web ul li {
  margin: 0 0 0.75rem;
  padding: 0 0.375rem;
  width: 33.333%;
}
@media only screen and (max-width: 575px) {
  .screenshot-bg.other-web ul li {
    width: 100%;
  }
}
.screenshot-bg.other-mobile ul li {
  margin: 0 0 0.75rem;
  padding: 0 0.375rem;
  width: 20%;
}
@media only screen and (max-width: 768px) {
  .screenshot-bg.other-mobile ul li {
    width: 30.333%;
  }
}
@media only screen and (max-width: 575px) {
  .screenshot-bg.other-mobile ul li {
    width: 50%;
  }
}

.clients-feedback .card .card-body::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  opacity: 0.1;
  background-image: url(./images/quote-1.png);
  width: clamp(25px, 25px + 6.3392857143vw, 96px);
  height: clamp(28px, 28px + 6.3392857143vw, 99px);
  background-size: cover;
}
.clients-feedback .card .card-body::after {
  content: "";
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  opacity: 0.1;
  background-image: url(./images/quote-1.png);
  width: clamp(25px, 25px + 6.3392857143vw, 96px);
  height: clamp(28px, 28px + 6.3392857143vw, 99px);
  background-size: cover;
}
.clients-feedback .card .card-body .client-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.clients-feedback .card .card-body h2 {
  font-weight: 600;
  font-size: clamp(20px, 20px + 1.7857142857vw, 40px);
  line-height: clamp(30px, 30px + 1.875vw, 51px);
}
.clients-feedback .card .card-body .client-text {
  font-size: clamp(18px, 18px + 0.3571428571vw, 22px);
  line-height: 167.02%;
  max-width: 858px;
  margin-bottom: 2rem;
}
.clients-feedback .card .card-body .name {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #C3CDE0;
}
.clients-feedback .card .card-body .des {
  font-size: 15px;
  line-height: 19px;
  color: #747D8C;
}

@media only screen and (max-width: 600px) {
  .others-project {
    text-align: center;
  }
}
.others-project img {
  margin-bottom: 2rem;
}
.others-project h3 {
  font-weight: 600;
  font-size: clamp(22px, 22px + 0.7142857143vw, 30px);
  line-height: clamp(25px, 25px + 1.1607142857vw, 38px);
}
@media only screen and (max-width: 600px) {
  .others-project h3 {
    text-align: center;
  }
}

footer .nav-icons a {
  font-size: clamp(16px, 16px + 0.1785714286vw, 18px);
}
footer .social-icons a {
  font-size: clamp(16px, 16px + 0.7142857143vw, 24px);
}
footer .social-icons a .icon-box svg {
  width: clamp(24px, 24px + 0.7142857143vw, 32px);
  height: clamp(24px, 24px + 0.7142857143vw, 32px);
}/*# sourceMappingURL=custom.css.map */